services:
  - type: web
    name: enterprise-management-system
    env: node
    region: singapore
    buildCommand: npm install && npx prisma generate && npx prisma migrate deploy && npm run build
    startCommand: npm run start
    plan: free
    branch: main
    rootDir: .
    autoDeploy: true
    envVars:
      - key: DATABASE_URL
        sync: true
      - key: AUTH_SECRET
        sync: true
      - key: ADMIN_DEFAULT_EMAIL
        sync: true
      - key: ADMIN_DEFAULT_PASSWORD
        sync: true
      - key: SALT_ROUNDS
        value: "10"
      - key: SMS_PROVIDER_KEY
        sync: true